@page
@using ChatWatchApp.Pages;
@model DashAnalysisModel;
@{
    ViewData["Title"] = "Insights";
}

<h1>Insights</h1>
<hr />

<div class="gridContainerForCharts"> 
    <div class="row">
        <div class="col p-3">
            <canvas id="chartMessageTypesToday"></canvas>
        </div>
        <div class="col p-3" style="min-height: 100%;">
            <canvas id="chartMessageTypesWeekly"></canvas>
        </div>
        <div class="col p-3">
            <canvas id="chartMostActivePlayers"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col p-3"></div>
        <div class="col p-3">
            <label for="insights-month-select">Select a month to view: </label>
            <input type="date" id="insights-month-select" />
            <button id="insights-refresh">Refresh...</button>
        </div>
        <div class="col p-3"></div>
    </div>
    <div class="row">
        <div class="col p-2">
            <canvas id="AvgActiveHours"></canvas>
        </div>
        <div class="col p-3" style="height: 450px;">
            <canvas id="AvgActiveDaysChat"></canvas>
        </div>
    </div>
</div>

<hr />

<script src="~/js/dashboardCharts.js" asp-append-version="true"></script>
<script src="~/js/insights.js" asp-append-version="true"></script>
