@page
@using ChatWatchApp.Pages;
@model DashIndexModel
@{
    ViewData["Title"] = "Dashboard";
}

<h1>Your dashboard</h1>
<hr />

<div class="gridContainerForCharts">
    

    <div class="row">
        <div class="col p-3">
            <canvas id="chartMessageTypesToday"></canvas>
        </div>
        <div class="col p-3" style="min-height: 100%;">
            <canvas id="chartMessageTypesWeekly"></canvas>
        </div>
        <div class="col p-3">
            <canvas id="chartMostActivePlayers"></canvas>
        </div>
    </div>
</div>

<script src="~/js/dashboardCharts.js" asp-append-version="true"></script>